body {
    font-family: "Consolas", sans-serif;
    background-color: #282c34;
}

section {
    text-align: center;
}

.game-title {
    font-size: 50px;
    color: white;
    margin: 70px auto 30px;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 310px;
    margin: 10px auto;
    background-color: #303d4f;
    color: white;
}

.cell {
    width: 100px;
    height: 100px;
    border: 2px solid white;
    cursor: pointer;
    line-height: 100px;
    font-size: 50px;
}

.game-status {
    font-size: 30px;
    color: white;
    margin: 30px auto;
}

.game-restart {
    background-color: #303d4f;
    width: 150px;
    height: 50px;
    font-size: 25px;
    font-family: "Consolas", sans-serif;
    font-weight: bold;
    color: white;
    border: 2px solid white;
}